[
    {
        "files": [
            "tis_runtime_interpreter.c",
            "tests/tests_timeofday.c"
        ],
        "machdep": "gcc_x86_64"
    },
    {
        "files": [
            "tis_runtime_interpreter.c",
            "tests/tests_timeofday2.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-DTIS_INIT_TIME_SEC=4718517215 -DTIS_INCR_TIME_SEC=86400"
    },
    {
        "files": [
            "tis_runtime_interpreter.c",
            "tests/tests_mktime.c"
        ],
        "machdep": "gcc_x86_64"
    },
    {
        "files": [
            "tis_runtime_interpreter.c",
            "tests/tests_mktime2.c"
        ],
        "machdep": "gcc_x86_64"
    }
]
