[
    {
        "files": [
            "tis_runtime_interpreter.c",
            "tests/tests_timeofday.c"
        ],
        "machdep": "gcc_x86_64"
    },
    {
        "files": [
            "tis_runtime_interpreter.c",
            "tests/tests_timeofday2.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-DTIS_INIT_TIME=4718517215 -DTIS_INCR_TIME=86400"
    },
    {
        "files": [
            "tis_runtime_interpreter",
            "tests/test_mktime.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-DINIT_TIME=1000 -DINCR_TIME=86400"
    },
    {
        "files": [
            "tis_runtime_interpreter",
            "tests/test_time_structure_modifier.c"
        ]
        "machdep": "gcc_x86_64",
    },
    {
        "files": [
            "tis_runtime_interpreter",
            "tests/test_time_structure_modifier2.c"
        ]
        "machdep": "gcc_x86_64"
    }
]
